.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    background: gray;
    opacity: 0.6;
    z-index: 10;
    top: 40%;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1 !important;
    background-color: gray;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-disabled {
    opacity: 0.3 !important;
}